<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Login or Register</title>
        <link rel="icon" href="/static/images/logo.png" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
        <link rel="stylesheet" type="text/css" href="/static/css/login.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/global.css" />
		<style>
            @font-face {
            font-family: roswreck;
            src: url(/static/fonts/roswreck/roswreck.ttf);
            }

            body {
                font-family: roswreck !important;
            }
        </style>
    </head>
    <body>
        <div class="switch">
            <input id="language-toggle" class="check-toggle check-toggle-round-flat" type="checkbox" onchange="switchLang()">
            <label for="language-toggle"></label>
            <span class="on">XQ</span>
            <span class="off">EN</span>
          </div>
	<div class="section">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						<h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
			          	<input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
			          	<label for="reg-log"></label>
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">
								<div class="card-front cspin">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
									<div class="center-wrap">
										<div class="section text-center">
											<h4 class="mb-4 pb-3">Log In</h4>
											<div class="form-group">
												<input type="email" id="login-username" class="form-style" placeholder="Username" autocomplete="off">
												<i class="input-icon uil uil-at"></i>
											</div>
											<div class="form-group mt-2">
												<input type="password" id="login-password" class="form-style" placeholder="Password" autocomplete="off">
												<i class="input-icon uil uil-lock-alt"></i>
											</div>
											<a href="#" class="btn mt-4" id="login-btn">submit</a>
                                            <p class="alert alert-success" id="login-resp-msg">Invalid username or password</p>
				      					</div>
			      					</div>
			      				</div>
								<div class="card-back cspin">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
									<div class="center-wrap">
										<div class="section text-center">
											<h4 class="mb-4 pb-3">Sign Up</h4>
											<div class="form-group">
												<input type="text" id="register-fullname" class="form-style" placeholder="Full Name" autocomplete="off">
												<i class="input-icon uil uil-user"></i>
											</div>	
											<div class="form-group mt-2">
												<input type="email" id="register-username" class="form-style" placeholder="Username" autocomplete="off">
												<i class="input-icon uil uil-at"></i>
											</div>	
											<div class="form-group mt-2">
												<input type="password" id="register-password" class="form-style" placeholder="Password" autocomplete="off">
												<i class="input-icon uil uil-lock-alt"></i>
											</div>
											<a href="#" class="btn mt-4" id="register-btn">submit</a>
                                            <p class="alert alert-success" id="register-resp-msg">Invalid username or password</p>
				      					</div>
			      					</div>
			      				</div>
			      			</div>
			      		</div>
			      	</div>
		      	</div>
	      	</div>
	    </div>
	</div>
        <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/login.js"></script>
    </body>
</html>