<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CTF</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="public/assets/css/bootstrap.min.css" >
        <link rel="stylesheet" href="public/assets/css/style.css" >
        <link rel="stylesheet" href="public/assets/css/profile.css" >
        <link rel="stylesheet" href="public/assets/css/shop.css" >
        <link rel="dns-prefetch" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
        <link rel="icon" href="Favicon.png">
    </head>
    <body>
        {% block base %}
        {% endblock %}
        <!-- jQuery -->
        <script src="public/assets/js/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="public/assets/js/bootstrap.min.js"></script>
        <script src="public/assets/js/app.js"></script>
        <script src="public/assets/js/crypto-js.min.js"></script>
    </body>
</html>