<style>
.button1 {
    background-color: black; 
    color: white; 
    border: 2px solid white;
    padding: 5px 32px;
}

input:not([type="submit"]) {
    background-color: white; 
    color: red; 
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}


</style>
<center>
<font size="5" color="red">💰 TSULOTT3 💰</font><br>
<h1>Input 6 number to win jackpot!!!</h1>
Example: 15 02 94 11 88 92
<form action="/guess" method="POST">
	<input type="text" name="jackpot" /><br>
	<input type="submit" class="button1" name="jackpot" value="Lott"/>
</form>
</center>