{% extends 'layout.html' %}

{% block content %}
<script>
    $(document).ready(()=>{
        let hideAll = ()=>{
            $(".fail").hide();
            $(".success").hide();
        };
        hideAll();

        $("#login").click(()=>{
            hideAll();
            data = {
                "username": $("#username").val(),
                "password": $("#password").val()
            };

            $.ajax({
                type: "POST",
                url: "/login",
                data: JSON.stringify(data),
                dataType: "json",
                contentType : "application/json",
                success: (result)=>{
                    if(result.status === 200){
                        location.href=result.return;
                    } else {
                        $(".fail").text(result.msg);
                        $(".fail").show();          
                    }
                }                
            });
            return false;
        });
    });
</script>
<div class="container">
    <div class="card mt-5">
        <h5 class="card-header">Login</h5>
        <div class="card-body">
            <form>
              <div class="form-col">
                <div class="fail alert alert-danger hide" role="alert">
                </div>
                <div class="success alert alert-success" role="alert">
                </div>
                <div class="mb-3">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" name="username" placeholder="username" id="username" required>
                </div>
                <div class="mb-3">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="password" id="password" required>
                </div>
              </div>
                <div class="form-row">
                    <div class="col-md3">
                        <button class="btn btn-primary" id="login">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}